header {
	padding: 0 0 0 10px;
	background-color: #006ecb;
	position: relative;
}
header img {
	height: 110px;
}
body{
	margin: 0px;
	font-family: arial;
	position: relative;
	top: -60px;
	background-image: url("img/parks/details_bg.png");
}
a:link {
	color: #006ecb;
	text-decoration: none;	
}
a:visited{
	color: #006ecb;
	text-decoration: none;	
}
a:hover{
	color: #5eca33;
	text-decoration: none;	
}
a:active{
	color: #5eca33;
	text-decoration: none;	
	color: blue;
}
.park_image_home{
	float: left;
	width: 300px;
	margin: 0px 20px 20px 0;
	background-color: #006ecb;
	padding: 4px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.park_image_detail{
	background-color: #006ecb;
	padding: 4px;
	width: 600px;
	height: 333px;
}
.image_backdrop {
	background-image: url("img/parks/details_bg.png");
	background-repeat: repeat-x;
	width: 105%;
	height: 341px;
	margin: 0;
	padding: 10px;
	position: relative;
	left: -10px;
	top: -10px;
}
.main_content{
	margin: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4ba428;
    color: white;
}
.copyright{
	
	font-style: italic;
	color: #006ecb;
}
h1 {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px darkblue, 0 0 5px darkgrey;
	font: normal 20pt trebuchet; 
	font-style: italic
}
h2 {
	font: normal 16pt Arial; 
	line-height:0px;
}
h3 {
	color: black;
	font: normal 14pt arial; 
}
h4 {
	color: black;
	font: normal 12pt arial; 
}
.tagline {
	position: relative;
	top: 120px;
	left: 300px;
	line-height: 0;
}

hr {
	color: #575757;
	background-color: #575757;
	height:2px;
}





