header {
	padding: 0 0 0 10px;
	position: relative;
	height: 164px;
}
header img {
	height: 110px;
}
body{
	margin: 0px;
	padding: 0 0 0 10px;
	font-family: arial;
	position: relative;
	top: -60px;
}
a:link {
	color: #006ecb;
	text-decoration: none;	
}
a:visited{
	color: #006ecb;
	text-decoration: none;	
}
a:hover{
	color: #5eca33;
	text-decoration: none;	
}
a:active{
	color: #5eca33;
	text-decoration: none;	
	color: blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #4ba428;
    color: white;
}
.park_image_home{
	float: left;
	width: 300px;
	margin: 0px 20px 20px 0;
	background-color: #006ecb;
	padding: 4px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.park_image_detail{
	background-color: #006ecb;
	padding: 4px;
	width: 600px;
	height: 333px;
	position: absolute;
	top: 225px;
	left: 135px;
}
.figcaption{
	color: #005dab;
	border: thin solid grey;
	padding:6px;
	margin: 5px;
	background-color: #eef2ff;
	box-shadow: 1px 1px 2px black, 0 0 15px #006ecb, 0 0 3px darkgrey;
	border-radius: 5px;
	position: absolute;
	top: 540px;
	left: 175px;
	text-align: center;
	z-index: 50;
	width: 500px;
	font: italic 10pt Arial; 	
}
.park_detail_title{
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px darkblue, 0 0 5px darkgrey;
	font: normal 28pt Arial; 
	position: absolute;
	top: 240px;
	left: 155px;
	z-index:100;
	text-align: center;
	width: 580px;
}
.main_content{
	margin: 5px;
	width: 1100px;
}

.copyright{
	
	font-style: italic;
	color: #006ecb;
}

h1 {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px darkblue, 0 0 5px darkgrey;
	font: normal 20pt trebuchet; 
	font-style: italic
}
h2 {
	font: normal 16pt Arial; 
	line-height:0px;
}
h3 {
	color: black;
	font: normal 14pt arial; 
	margin:0;
}
h4 {
	color: black;
	font: normal 12pt arial; 
	margin: 0 0 0 0;
	line-height: 16pt;
}
h5 {
	color: #006ecb;
	font: normal 24pt arial; 
	padding:0;
	margin:0;
}
.tagline {
	position: relative;
	top: 120px;
	left: 300px;
	line-height: 0;
}

hr {
	color: #575757;
	background-color: #575757;
	height:2px;
}
.detail_description{
	position: absolute;
	top:625px;
	left: 30px;
	padding:0px;
	width: 750px;
}
.field_label{
	border-width: 0 0 1px 0;
	border-color: black;
	font: bold 12pt Arial;
	width: 30%;
}
.field_value{
	font: normal 12pt Arial;
	border-width: 0 0 1px 0;
	width: 20%;
}
.details_footer{
	position: relative;
/*	top: 925px;*/
	width: 850px;
}
.weather_today{
	font: normal 11pt Arial;
	font-weight: bold;
	color: black; 
	text-align: center; 
}
.weather_5day{
	font: normal 11pt Arial;
	font-weight: bold;
	color: black; 
	text-align: center; 
	}

.weather_today img{
	width: 100px;
}
.weather_5day img{
	width: 100px;
}
.weather_card{
	padding:10px;
	box-shadow: 1px 1px 2px black, 0 0 15px #006ecb, 0 0 3px darkgrey;
	border-width:2px;
	border-color: #006ecb;
	border-style: solid;
	border-radius: 5px;
	margin: 5px;
	background-color: white;
	color:#006ecb;
}
.weather_card:hover{
	box-shadow: 1px 1px 2px green, 0 0 15px green, 0 0 3px green;
	border-width:2px;
	border-color:green;
	border-style: solid;
	color: green;
}
.weather_card:hover h3{
	color: green;
}
display:block; text-decoration:none;}
.weather_label{
	border-width: 0 0 1px 0;
	border-color: black;
	font: bold 10pt Arial;
}
.weather_value{
	border-width: 0 0 1px 0;
	border-color: black;
	font: normal 10pt Arial;
}
.convert_units{
	text-align: right;
	font: normal 10pt Arial;
	padding: 10px;
}
.weather_tip{
	width: auto;
	height: 50px;
	background-color: lightgrey;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	display: table-cell;
    vertical-align: middle;
}
input[type=submit]{
	border: 1.5px solid #006ecb;
	border-radius: 5px;
	padding:4px 8px 4px 8px;
}
input[type=submit]:hover{
	box-shadow: 1px 1px 2px green, 0 0 5px green, 0 0 3px green;
	border: 1.5px solid green;
	color:green;	
}
.survey{
	padding: 8px;
	background-color: white;
	border: thin solid black;
	border-radius: 5px;
}

/*########################################*/
/*##########  weather css below ##########*/
/*########################################*/
.forecast{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	white-space: nowrap;
	}
#hourly_container {
	margin:  15px 0 15px 5px;
	width:830px;
}
.hourly_display{
	background-color: #c5d6e6;
	box-shadow: 1px 1px 2px black, 0 0 15px #006ecb, 0 0 3px darkgrey;
	padding: 0px;
	margin: 0 0 0 0;
	border: thin solid black;
	border-radius: 5px;
	visibility: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	width: 750px;
	font: bold 10pt arial;
}
.title{
	width:820px;
}
#theTemp, #theTitle{
	font: bold 16pt arial;	
	margin: 0 5px 0 5px;
}
.day {
	cursor: pointer;
	padding:0 10px 10px 10px;
	box-shadow: 1px 1px 2px black, 0 0 15px #006ecb, 0 0 3px darkgrey;
	border-width:2px;
	border-color: #006ecb;
	border-style: solid;
	border-radius: 8px;
	margin: 5px 15px 5px 15px;
	background-color: white;
	color:#006ecb;
	height: 170px;
	width: 115px;
}
.day:hover{
	box-shadow: 1px 1px 2px green, 0 0 15px green, 0 0 3px green;
	border-width:2px;
	border-color: #006ecb;
	border-style: solid;
	color: white;
	background-color: #2274c5;
}
.day:hover > .weather > div > img{
	border: 3px solid white;
}
.weekday {
	display: flex;
	justify-content: center;
	font-size: 18px;
  	font-weight: bold;	
  	margin: 0;
  	padding:0;
  	line-height: 6px;;
}

.weather img {
	width: 80px;
	border: 3px solid white;
	border-radius: 40px;
	margin: 5px 0 12px 15px;
	display: flex;
	justify-content: center;
}

.high p,
.low p,
.hourly .temp {
  font-size: 16px;
}
[id^="htemp"], [id^="ltemp"]{
	font-weight: bold;
	font-size: 12pt;
}
.temp {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	margin: 5px 0 0 0;
	font: normal 11pt arial;
	justify-content: space-around;
}
.hourly{
	visibility: hidden;
	position: absolute;
}
.hour {
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  display:flex;
  justify-content: center;
}
.hourly_display img {
  width: 30px;
  border-radius: 15px;
}
.time {
  font-weight: bold;
  display:flex;
  justify-content: center;
}

@media (max-width: 720px) {
  .container {
    background: rgba(255,255,255,0.8);
  }
}
.time_cell{
	width: 44px;
	font-weight: bold;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 5px 0 5px 0;
}
.time_cell ~ div {
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.show{
	visibility: visible;
}
.hide{
	visibility: hidden;
}
